* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0c0f;
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: center;
  border: 1px solid #234;
  overflow: hidden;
}

button {
  position: fixed;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

button#closeButton:active {
  background: #888;
}

#clock {
  padding: 0.75em 1em;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  font-size: 32px;
  white-space: nowrap;
}
