* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0a0c0f;
  width: 100vw;
  height: 100vh;
  border: 1px solid #234;
  overflow: hidden;
}

button {
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

button#closeButton:active {
  background: #888;
}

#clock {
  display: inline-block;
  padding: 0.75em 1em;
  color: white;
  /* max-width: 18em; */
  user-select: none;
  font-size: 32px;
  white-space: nowrap;
}

textarea {
  width: calc(100% - 10px);
  margin-bottom: 5px;
  margin-left: 5px;

  border: 1px solid #06f;
  font: inherit;
  outline: none;
  background: #000;
  color: #fff;
  padding: 5px;

  overflow: hidden;
}

#help {
  width: calc(100% - 10px);
  margin-left: 5px;

  overflow: auto;
  height: 200px;
}

#extras {
  padding-bottom: 5px;
}

#help {
  background: #fff;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ccc;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, #90f, #49f, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

/* prettier-ignore */
.sizer-1 { font-size: 130%; }
/* prettier-ignore */
.sizer-2 { font-size: 160%; }
/* prettier-ignore */
.sizer-3 { font-size: 190%; }
/* prettier-ignore */
.sizer-4 { font-size: 220%; }
/* prettier-ignore */
.sizer-5 { font-size: 250%; }
/* prettier-ignore */
.sizer-6 { font-size: 280%; }

.limit {
  white-space: initial;
  max-width: 1em;
}
