* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0c0f;
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: center;
  border: 1px solid #234;
  overflow: hidden;
  animation: rainbow 60s infinite;
}

/* prettier-ignore */
@keyframes rainbow {
  0%   { background: #0a0c0f; }
  10%  { background: #0c0a0f; }
  20%  { background: #0f0a0e; }
  30%  { background: #0f0a0b; }
  40%  { background: #0f0c0a; }
  50%  { background: #0e0f0a; }
  60%  { background: #0b0f0a; }
  70%  { background: #0a0f0c; }
  80%  { background: #0a0f0e; }
  90%  { background: #0a0e0f; }
  100% { background: #0a0c0f; }
}

button {
  position: fixed;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

button#closeButton:active {
  background: #888;
}

#clock {
  padding: 0.75em 1em;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  font-size: 32px;
  white-space: nowrap;
}
